image: maven:3.6.0-jdk-11

cache:
  paths:
    - .m2/

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2"

stages:
  - build
  - test
  - codeQuality

Build:
  stage: build
  script:
    - mvn compile

Badges_success:
  stage: test
  script:
    - curl -o badges/build.svg https://img.shields.io/static/v1.svg?label=build&message=pass&color=green
  when: on_success

Badges_failure:
  stage: test
  script:
    - curl -o badges/build.svg https://img.shields.io/static/v1.svg?label=build&message=failure&color=red
  when: on_failure

test:
  stage: test
  script:
    - mvn test
  allow_failure: false

Code Quality:
  stage: codeQuality
  script:
    - mvn install
    - mvn -B checkstyle:check
