server:
  port: 8082
spring:
  datasource:
    url: jdbc:mysql://projects-db.ewi.tudelft.nl:3306/projects_GoGreen
    username: pu_GoGreen
    password: tZ9Xon5JhAID
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    root: info
    gogreen-webserver: debug